:root {

}

body {
  /* background: #223; */
  background: url('../public/background/background.png');
  background-size: cover;
  background-position: center;
  font-family: 'Montserrat', sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  margin-top: 5em;
}

.navbar, .btnBar{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #62351fb4;
  border: none;
}

.navbar li, .btnBar{
  display: inline;
  float: left;

}

.navbar a, .btnBar{
  display: block;
  padding: 8px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.btnBar{
  text-transform: capitalize;
}